
/* Buttons */

.btn-default {
	
	background: $white;
	border: 1px solid $maroon;
	color: $maroon;
	width: auto;
	border-radius: 0;

	&:hover, &:focus {

		background: $maroon;
		color: $white;

	}

}