
/* Navbar */

.navbar {

	border-top: 1px solid $lightGray;
	border-bottom: 1px solid $lightGray;
	margin: 30px 0 0 0;
	transition: $fastTransition;

	.grid {

		width: 100%;
		margin: 0;

		.item {

			min-height: 1px;
			padding: 0;
			margin: 0;

			&:first-child {

				text-align: left;

				.navbar-nav {

					&:first-child {

						display: none;

						@media (max-width: $tabletLandscape) {

							display: block;

						}

					}

					&:last-child {

						@media (max-width: $tabletLandscape) {

							display: none;

						}

					}

				}

			}

			&:last-child {

				text-align: right;

				.nav-item {

					margin: 0 5px;

					&:last-child {

						margin: 0 0 0 15px;

					}

				}

			}

			@media (max-width: $tabletPortrait) {

        min-width: 25%;

    	}

		}

	}

}

.navbar-nav {

	display: block;
	list-style-type: none;

	.nav-item {

		display: inline-block;
		width: auto;
		margin: 0 15px 0 0;

		form {

			position: relative;

			input {

				border: none;
				border-bottom: 1px solid $lightGray;

			}

			@media (max-width: $tabletLandscape) {

				display: none;

			}

		}

		.nav-link {

			color: $black;
			transition: $fastTransition;
			text-transform: uppercase;

			&:hover, &:focus {

				color: $maroon;

			}

		}

	}

	.dropdown-menu {

		position: absolute;

	}

}

.navbar-content {

  background: $maroon;
  position: fixed;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  z-index: 1050;
  padding: 0;
  transition: $fastTransition;
  color: $white;

    div {

      h1 {

        text-align: center;
        color: $white;

      }

      img {

        display: block;
        margin: 30px auto;
        width: 50%;

      }

      div {

        div {

          position: relative;

          ul {

            position: absolute;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            list-style-type: none;
            margin: 0 -15px 0 -5px;
            padding: 0;
            text-align: center;

            .active {

              background: $maroon;
              color: $white;

            }

            li {

              border-bottom: 1px solid $white;

              a {

                display: block;
                padding: 15px;
                color: $white;
                transition: $fastTransition;
                text-decoration: none;

                .fa:nth-of-type(1) {

                  padding: 0 10px 0 0;

                }

                .fa-chevron-right {

                  margin: 3px 30px 0 0;
                  float: right;

                }

                &:hover, &:focus {

                  background: $white;
                  color: $maroon;

                }

              }

              &:last-child {

                border: none;

              }

            }

          }

        }

      }

      .search {

        width: 100%;
        padding: 0 19px;

        a {

          position: absolute;
          top: -1px;
          right: 20px;
          color: $white;
          font-size: 1.5em;

          &:hover, &:focus {

            text-decoration: none;

          }

        }

        .fa-search {

          position: absolute;
          top: 5px;
          left: 20px;
          color: $white;
          font-size: 1.5em;

        }

      }

      .breadcrumbs {

      	position: absolute;
        left: 0;
        bottom: 0;
        list-style-type: none;
        margin: 0;
        padding: 5px 0 15px;
        text-align: center;
        width: 100%;

        li {

          display: inline;
          border: none;

          &:after {

            content: ":";
            padding: 0 5px 0 5px;

          }

          &:last-child:after {

            content: none;
            padding: 0;

          }

        }

      }

      .navbar-content-close-btn {

        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: $white;
        z-index: 5;

        &:hover, &:focus {

          color: $white;
          text-decoration: none;

        }

      }

    }

}

.navbar-title {

  text-transform: capitalize;
  margin: 40px 0 20px 0;

}

.fixed-top {

	background: $white;
	margin: 0;

}