
/* Pagination */

.pagination {
		
	padding: 30px 0;

	.page-item {

		margin-left: -1px;

		.page-link {

			text-decoration: none;
			color: $black;

		}

	}

	.page-item.active .page-link {

		background: $black;
		border-color: $black;
		color: $white;

	}

}