
/* Typography */

body {

	font-family: $bodyFontFamily;
	font-size: $bodyFontSize;

}

h1, h2, h3, h4, h5 {

	font-family: $titleFontFamily;
	font-weight: $titleFontWeight;

	a {

		color: $black;
		transition: $fastTransition;

		&:hover, &:focus {

			text-decoration: none;
			color: $maroon;

		}

	}

}