
/* Fonts */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

$titleFontFamily: "Lato", sans-serif;
$titleFontWeight: 400;
	
$bodyFontFamily: "Arial", sans-serif;
$bodyFontSize: 16px;

/* Colours */

$maroon: #c00e44;

$black: #333333;
$lightGray: #eeeeee;


/* Shadows */

$lightBlueShadow: 0 0 20px rgba(6, 169, 225, 0.6);
$darkBlueShadow: 0 0 20px rgba(13, 55, 88, 0.5);
$blackShadow: -12px 0px 23px -14px rgba(0, 0, 0, 0.31);

/* Transitions */

$fastTransition: all 0.3s;

/* Backgrounds */

$grayGradient: linear-gradient(135deg, #F1F1F2 0%, #ffffff 100%);

/* Screen sizes */

$desktop: 1920px;
$laptop: 1440px;
$tabletLandscape: 1024px;
$tabletPortrait: 768px;
$mobileLargeLandscape: 736px;
$mobileLargePortrait: 425px;