
@import "bootstrap";

@import "variables";
@import "typography";
@import "grid";
@import "navbar";
@import "buttons";
@import "dropdowns";
@import "pagination";

a {

	color: $black;
	text-decoration: underline;
	transition: $fastTransition;

	&:hover, &:focus {

		color: lighten($black, 30%);

	}

}

header {

	display: block;
	text-align: center;
	max-width: 1040px;
	margin: 0 auto;
	padding: 15px 0;

	h1 {

		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Lora';
		text-transform: uppercase;
		font-size: 4em;
		line-height: 1.5em;
		vertical-align: middle;
		margin: 15px 0 0 0;

		a {

			text-decoration: none;

		}

		span {

			&:first-child {

				vertical-align: middle;
				font-size: 1.5em;

				@media (max-width: $mobileLargePortrait) {

					vertical-align: inherit;
					font-size: 1em;

				}

			}

			&:last-child {

				vertical-align: middle;
				font-size: 1.5em;

				@media (max-width: $mobileLargePortrait) {

					vertical-align: inherit;
					font-size: 1em;

				}

			}

		}

		@media (max-width: $mobileLargePortrait) {

			font-size: 3em;

		}

	}

	p {

		margin: -15px 0 0 0;
		text-transform: uppercase;

		&:before {

			content: "•";
			padding: 0 5px;

		}

		&:after {

			content: "•";
			padding: 0 5px;

		}

		@media (max-width: $mobileLargePortrait) {

			margin: 15px 0 0 0;

		}

	}

	@media (max-width: $mobileLargePortrait) {

		padding: 0 15px;

	}

	@media (max-width: $tabletLandscape) {

		width: 100%;

	}

}

img {

	margin: 15px 0 !important;

}

blockquote {

	font-family: "Lora";
	font-style: italic;
	font-size: 28px;
	color: $black;
	text-align: center;

	&::before {

		content: "\"";

	}

	&::after {

		content: "\"";		

	}

}

.default {

	display: block;
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 160px;

	.grid {

		margin: 15px 0;

		.item {

			&:first-child {

				margin: 0 0 15px 0;

			}

			@media (max-width: $mobileLargePortrait) {

				padding: 0;

			}

		}

	}

	@media (max-width: $mobileLargePortrait) {

		padding: 0 15px;

	}

	@media (max-width: $tabletLandscape) {

		width: 100%;

	}

}

.blog {

	display: block;
	max-width: 1040px;
	margin: 0 auto;

	.grid {

		display: grid;
		grid-template-columns: 2fr 1fr;
  	grid-column-gap: 30px;
  	max-width: 100%;

  	.item {

  		padding: 0;
  		margin: 0;

  	}

  	.blog-item-content {

  		border-right: 1px solid $lightGray;

  	}

  	@media (max-width: $tabletLandscape) {

			grid-template-columns: 1fr;

		}

	}

}

.content {

	display: block;
	max-width: 1040px;
	margin: 0 auto;
	padding: 0 160px;

	.grid {

		margin: 15px 0;

		.item {

			h1, h2, h3, h4, h5 {

				&:first-child {

					margin: 0 0 15px 0;

				}

			}

			span {

				display: block;
				width: 100%;
				text-align: center;
				color: $maroon;

			}

			@media (max-width: $mobileLargePortrait) {

				padding: 0;

			}

		}

	}

	.author {

		.item {

			min-height: 1px;

			&:first-child {

				max-width: 25%;
				padding: 0 0 0 15px;

				@media (max-width: $tabletLandscape) {

					min-width: 100%;
					max-width: 100%;

				}

			}

			&:last-child {

				h1, h2, h3, h4, h5 {

					text-align: left;

				}

				@media (max-width: $tabletLandscape) {

					min-width: 100%;
					max-width: 100%;

				}

			}

			@media (max-width: $mobileLargePortrait) {

				padding: 0 !important;

			}

		}

	}

	.related {

		background: $lightGray;

		h1, h2, h3, h4, h5 {

			padding: 0 30px;

			@media (max-width: $mobileLargePortrait) {

				padding: 0 15px;

			}

		}

		a {

			text-decoration: none;

			&:hover, &:focus {

				text-decoration: none !important;

			}

		}

		.item {

			max-width: 33%;
			min-height: 1px;
			padding: 0 15px;
			margin: 0 15px;

			@media (max-width: $tabletLandscape) {

				max-width: 100%;

			}

		}

	}

	@media (max-width: $mobileLargePortrait) {

		padding: 0 15px;

	}

	@media (max-width: $tabletLandscape) {

		width: 100%;

	}

}

.align-center {

	display: block;
	margin: 15px auto !important;
	text-align: center;

}

footer {

	display: block;
	max-width: 1040px;
	margin: 0 auto;

	.grid {

		width: 100%;
		margin: 0;

		.item {

			min-height: 1px;
			padding: 0;
			margin: 0;

			&:first-child {

				text-align: left;

				.navbar-nav {

					&:first-child {

						display: block !important;

					}

				}

			}

			&:last-child {

				text-align: right;

				.nav-item {

					margin: 0 5px;

				}

			}

			.navbar-nav {

				@media (max-width: $tabletLandscape) {

					text-align: center;

				}

			}

			@media (max-width: $tabletPortrait) {

		    min-width: 100% !important;

			}

			@media (max-width: $tabletLandscape) {

				justify-content: center;
    		align-items: center;
				min-width: 100%;

			}

		}

	}

	@media (max-width: $tabletLandscape) {

		width: 100%;

	}

}
